{% extends 'base.html' %}

{% block title %}Register - TaskFlow{% endblock %}

{% block content %}
<div style="max-width:400px; margin:50px auto;">
    <div class="card">
        <h2 style="text-align:center; color:#6c5ce7; margin-bottom:20px;">Register 📝</h2>
        
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div>
                <label style="color:#555; font-weight:bold;">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                <p style="color:red; font-size:12px;">{{ field.errors }}</p>
                {% endif %}
            </div>
            {% endfor %}
            
            <button type="submit" class="btn btn-primary" style="width:100%; margin-top:10px; padding:12px; font-size:16px;">
                Register
            </button>
        </form>
        
        <p style="text-align:center; margin-top:15px; color:#666;">
            Already account hai? 
            <a href="/login/" style="color:#6c5ce7;">Login karo</a>
        </p>
    </div>
</div>
{% endblock %}